In [1]:
batsman=['Rohit','Dhawan','Kohli','Rahane','Rayudu','Dhoni'] # list index starts with 0
batsman[0]

'Rohit'

In [2]:
batsman[0:4] # slicing the index means list value starting from 0 until 4 but index 4 is not included

['Rohit', 'Dhawan', 'Kohli', 'Rahane']

In [3]:
batsman[-1] # to access the last elements in the list we can use the index -1

'Dhoni'

In [4]:
len(batsman) # using len() function i can find out the number of elements in the list

6

# two separate list can be concatenated into 1 list using + operator

In [5]:
bowlers=['Bumrah','Shami','Bhuvi','Kuldeep','Chahal']
all_players=batsman+bowlers
print(all_players)

['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni', 'Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [6]:
# THE in operators is used to find out whether a item exist in the list or not
'Bumrah' in bowlers

True

In [7]:
'Dhoni' in bowlers

False

# finding the index of an item in the list

In [8]:
all_players.index("Dhoni")

5

In [9]:
bowlers.index('Bumrah')

0

In [10]:
# The items in the list can be rearranged in the reverse order using reverse() function
all_players.reverse()
all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

In [11]:
odiDebut=('kohli',2008) 3 Tuples index also starts from 0
odiDebut

SyntaxError: invalid syntax (926345958.py, line 1)

In [ ]:
odiDebut[0]

In [ ]:
odiDebut[1]=2009

In [ ]:
tuples=tuple(all_players) # using tuple type cast i can convert a list into tuple
tuples

# set:a set is a collection of unique elements ,that is ,the values cant repeat.

In [ ]:
setofNumbers={1,3,4,5,6,8}
setofNumbers

# operations like union,intersection and difference can be performed over set

In [ ]:
wc2011={"Dhoni","Sehewag","Tendulkar","Gambhir","Kohli","Raina","Yuvraj","Yusuf"}
wc2015={"Dhoni","Dhawan","Rohit","Rahane","Kohli","Raina","Raiyudu","Jadeja"}
wc2011.union(wc2015)

In [ ]:
wc2011.intersection(wc2015)

In [ ]:
wc2015.difference(wc2011)

In [ ]:
wcwinners={1975:"west indies",1979:"west indies",1983:"india",1987:"australia",1991:"pakistan",1996:"sri lanka",1999:"australia",2003:"australia",2007:"australia",2011:"india"}
wcwinners

In [ ]:
wcwinners.values()